@import '~bootstrap/scss/bootstrap';
$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $light;
$hover-color: #618685;
$lightblue-color: lightblue;
$black-color: #000;

body {
  background-color: $body-bg-color;
}

label {
  align-items: center;
  display: flex;
  justify-content: center;
}

.alt-color {
  background-color: $alt-color;
}

.bottom-message {
  padding: 1.5rem;
}

.btn {
  border: .5px solid $black-color;
}

.gamearea {
  margin: auto;
  max-height: 60vh;
  max-width: 60vh;
  width: 90%;
}

.gameboard {
  background-color: $lightblue-color;
  display: flex;
  flex-wrap: wrap;

  > div {
    align-items: center;
    border-bottom: 1px solid;
    border-right: 1px solid;
    display: flex;
    font-size: 12vh;
    justify-content: center;
    line-height: 1;
    min-height: calc(100% / 3);

    &:nth-child(3n) {
      border-right: 0;
    }

    &:nth-last-child(-1n + 3) {
      border-bottom: 0;
    }

    &:hover {
      background-color: $hover-color;
      cursor: pointer;
    }
  }
}

.game-box {
  padding-bottom: 2rem;
}

.game-stats {
  align-items: center;
  display: flex;
  justify-content: center;
}

.inner-fields {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.middle-buttons {
  padding-bottom: .2rem;
}

.navbar-brand {
  cursor: default;
}

.rounded-box {
  background-color: $lightblue-color;
  border: 1px solid $black-color;
  border-radius: 25px;
}

.user-message-box {
  align-items: center;
  display: flex;
  justify-content: center;
}

.user-btns {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.user-options {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: .5rem 0;
}

.hidden {
  display: none;
}
